.BISUlogo{
    float: left;
    margin-left: 20px;
    margin-right: 10px;
}
header h1{
    margin-bottom: 0px;
    padding-top: 10px;
    color: rgb(28, 28, 219);
    text-shadow: 1px 1px gray;
    margin-top: 0px;
}
header h6{
    margin-top: 0px;
}
@keyframes hide { 
0%{
    opacity: 0%;
    transform: translateY(100%);
}
100%{
    opacity: 1;
    transform: translateY(0%);
}
}
header{
    background-color: beige;
    height: 90px;
    padding-top: 10px;
    box-shadow: 1px 1px 5px 1px rgb(110, 110, 110);
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    animation-duration: 1s;
}
.nav{
    visibility: hidden;
    position: absolute;
    top: 60%;
    background-color:rgba(0, 0, 0, 0.767);
    padding: 10px;
    width: 20%;
    right: 1%;
}
.nav h1{
    color: white;
    text-align: center;
    padding-bottom: 10px;
}
header hr{
    width: 80%;
    visibility: hidden;
    position: relative;
    left: 10%;
}
.nav a{
    text-decoration: none;
}
.navhome:hover hr{
    visibility: visible;
    animation-name: hr;
    animation-duration: .2s;
}
.navhistory:hover hr{
    visibility: visible;
    animation-name: hr;
    animation-duration: .2s;
}
.navcamp:hover hr{
    visibility: visible;
    animation-name: hr;
    animation-duration: .2s;
}
.navis:hover hr{
    visibility: visible;
    animation-name: hr;
    animation-duration: .2s;
}
@keyframes hr{
    from{width: 0%;}
    to{width: 80%;}
}
body{
    background-color:antiquewhite;
    margin: 0%;
}
.bur{
    width: 30px;
    height: 5px;
    background-color: rgb(88, 87, 87);
    margin: 6px 0;
}
.burger{
    position: fixed;
    right:1.5%;
    top: 4%;
    z-index: 3;
}
.motto{
    position: absolute;
    text-align: center;
    margin: 30% auto;
    left: 16%;
    z-index: 1;
    font-family: myFirstFont;
    text-shadow: 2px 2px 5px white;
}
@font-face {
    font-family: myFirstFont;
    src: url("GTBold.ttf");
  }
.gate{
    position:absolute;
    width: 1350px;
    height: 2000px;
    background-image: url("gate.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    filter: blur(4.5px);
}
.abisu{
    background-color:rgb(1, 1, 54);
    position: absolute;
    width: 1350px;
    height: 2000px;
    top: 118%;
    
}
.bglance{
    color: aliceblue;
    padding-top: 5%;
    font-size: xx-large;
    margin-left: 80px;
}
.brief{
    position:absolute;
    top: 3.5%;
    right: 6.5%;
}
hr {
    display:block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0px;
    margin-right: 90px;
    border-style: inset;
    border-width: 1px;
    color: aliceblue;
  }
.history{
    position:absolute;
    top: 9.1%;
    right: 18%;
}
.arrow{
    /* background-color: antiquewhite; */
    background-image: url("arrow3.png");
    background-position-y:center;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-size: 130px;
    background-position-x: 46.5%;
    position: relative;
    left:55%;
}
.arrow:hover{
    filter: invert(1);
    background-size: 150px;
}

.year{
    position:absolute;
    left: 10%;
}
.found{
    position:absolute;
    left: 10%;
    top: 19%;
}
.RA{
    position:absolute;
    left: 40%;
}
.act{
    position:absolute;
    left: 40%;
    top: 19%;
}
.camp
{
    position:absolute;
    left: 75%;
}
.campus{
    position:absolute;
    left: 75%;
    top: 19%;
}
.start{
    background-color:antiquewhite;
    position: absolute;
    width: 1350px;
    height: 2000px;
    top: 230%;
}
.explore{
    position:absolute;
    left: 4%;
    font-size: 100px;
}
td{
    position: relative;
    background-color: bisque;
    top: 50px;
    
}
td img{
   width: 600px;
   height: 450px; 
}
.bisulo{
    width: 400px;
    height: 400px;
    padding: 0 100px;
}
table{
    margin: 0 auto;
    margin-top: 10%;
    width: 800px;
    border-spacing: 40px;
}
.t1:hover{
    background-color:floralwhite;
}
.t2:hover{
    background-color:floralwhite;
}
.gallery{
    background-color:rgb(1, 1, 54);
    position: absolute;
    width: 1350px;
    height: 950px;
    top: 390%;
}
.life{
    position:absolute;
    font-size: 70px;
    top: 280px;
    font-family:serif;
    color: white;
    left: 36%;
}
.look{
    position:absolute;
    left: 5%;
    font-size: 25px;
    top: 360px;
    font-family:serif;
    color: white;
    left: 30%;
}
@keyframes slideUp {
    0%{
        opacity: 0%;
        transform: translateY(100%);
    }
    100%{
        opacity: 1;
        transform: translateY(0%);
    }
}
.tarp{
    height: 250px;
    width:370px;
    position: absolute;
    left:20%;
    top: .5%;
    animation-duration: 3s;
    visibility: hidden;
}
.huddle{
    height: 250px;
    width:350px;
    position: absolute;
    left:-7%;
    top: 12%;
    animation-duration: 3.5s;
    visibility: hidden;
}
.vball{
    height: 240px;
    width:320px;
    position: absolute;
    left: 58%;
    top: 2% ;
    animation-duration: 2.5s;
    visibility: hidden;
}
.hjump{
    height: 270px;
    width:200px;
    position: absolute;
    left: 85%;
    top: .5%;
    animation-duration: 3.2s;
    visibility: hidden;
}
.title{
    height: 140px;
    width:200px;
    position: absolute;
    left: 9%;
    top: 43%;
    animation-duration: 2.8s;
    visibility: hidden;
}
.arnis{
    height: 140px;
    width:180px;
    position: absolute;
    left: .5%;
    top: 65%;
    animation-duration: 3.6s;
    visibility: hidden;
}
.tarsi{
    height: 220px;
    width:300px;
    position: absolute;
    left: 26.5%;
    top: 60%;
    animation-duration: 2.7s;
    visibility: hidden;
}
.sign{
    height: 180px;
    width:260px;
    position: absolute;
    left: 53%;
    top: 55%; 
    animation-duration: 3.2s;
    visibility: hidden;
}
.parade{
    height: 180px;
    width:260px;
    position: absolute;
    left: 82%;
    top: 35%;   
    animation-duration: 3s;
    visibility: hidden;
}
.takraw{
    height: 200px;
    width:320px;
    position: absolute;
    left: 76%;
    top: 59%; 
    animation-duration: 3.5s;
    visibility: hidden;
}
  footer{
    background-color:rgb(1, 1, 54);
    position: absolute;
    width: 1350px;
    height: 250px;
    top: 510%;
  }
  footer hr{
      width: 100%;
  }
  .logfooter{
    position:relative;
    width: 100px;
    height: 100px;
    top: 25%;
    left: 45%;
  }
  footer h1{
  color: rgb(224, 224, 228);
  text-shadow: 2px 2px rgb(0, 0, 0);
  position:absolute;
  top: 65%;
  left:34%;
}
table a{
    text-decoration: none;
    color: black;
}